/*
  Colors pallete inspired by: https://protesilaos.com/emacs/modus-themes-colors
*/

html, body {
    font-size: 16px;
}

html {
    background-color: #f0f0f0;
}

body {
    max-width: 75em;
    color: #222222;
    background-color: #ffffff;
    margin: 0 auto;
    padding: .5em 1em 1em 1em;
    border: .1em solid #9f9f9f;
}

p, pre, li, dt, dd, table, code, address {
    line-height: 1.4em;
}

.display, .example, .verbatim {
    overflow: auto;
}

.example {
    max-width: 50em;
    border-radius: 3px;
    box-sizing: border-box;
    padding: .1em .5em;
}

.user-tag {
    background-color: #ccdfff;
    border: .1em dashed #5a5a5a;
}

.user-txt {
    background-color: #bfefff;
    border: .1em dashed #5a5a5a;
}
