html {
    background-color: #aa9988;
}

body {
    max-width: 60em;
    color: #222222;
    background-color: #eeddbb;
    margin: 0 auto;
    padding: .5em 1em 1em 1em;
    border: .1em solid grey;
}

::selection {
  color: #eeddbb;
  background-color: #448888;
}

.display, .example {
    overflow: auto;
}

.example {
    max-width: 40em;
    border-radius: 3px;
    box-sizing: border-box;
    padding: .1em .5em;
}

.user-tag {
    color: #d79921;
    background: #3c3836;
}

.user-txt {
    color: #504945;
    background: #bdae93;
}
